/* Header Arrows */
.slider-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 2rem;
    color: #1f2937;
    padding: 10px 15px;
    cursor: pointer;
    z-index: 10;
    transition: color 0.3s ease;
}

.slider-arrow-left {
    left: 10px;
}

.slider-arrow-right {
    right: 10px;
}

.slider-arrow:hover {
    color: #3b82f6;
}

/* Footer Font Colors */
.main-heading, .contact-heading {
    color:rgb(255, 255, 255);
}
